@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles available to everyone and always goes to build  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .action-btn {
    @apply cursor-pointer rounded-md p-1 duration-300 ease-in-out hover:bg-slate-800;
  }

  .action-btn.active {
    @apply bg-slate-800;
  }
}
